[Desktop Entry]
Name=Yamaha Control
Comment=Controls Yamaha AV Reciever
Encoding=UTF-8
Icon=tools-rip-audio-cd
ServiceTypes=Plasma/Applet
Type=Service
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=ApplicationStatus
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Author=David Baum
X-KDE-PluginInfo-Email=david.baum@naraesk.eu
X-KDE-PluginInfo-Name=yamaha
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Version=1.3.0
X-KDE-PluginInfo-Website=https://github.com/naraesk/plasma-yamaha
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
